@use 'Assets';

$yellow-orange: #e0b21a;
$green: #2f9710;

#dash-add-prod {
    color: white;
}

#dash-add-prod-btn {
    background: Assets.$primary-color;
    border: 0;
}

#dashboard-container {
    margin-top: 5rem;
    width: 80vw;
}

#dash-prof-container {

    #dash-edit-icon {
        position: absolute;
        font-size: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.3);
        color: white;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .prof-pic {
        &:hover {
            cursor: pointer;
        }
    }

    #dash-prof-img {

    }

    #dash-member-s {
        font-size: small;
    }
}

#vertical-rule {
    border-left: 1px solid #dddddd;
    height: 100%;
    max-height: 80%;
}

#filter-search-container {
    position: relative;
}

.yellow-orange-bg {
    background: $yellow-orange;
}

.green-bg {
    background: $green;
}

.dash-right-pane {
    height: 100%;
}

.dash-r-ic-container {
    max-width: 5rem;

    .dash-r-ic {
        color: white;
    }

    #dash-r-all {
        transform: rotate(120deg);
    }
}

#dash-r-shelves {
    margin-right: 6rem;
}

#dash-report-root {
    // margin-right: 6rem;
    background: white;
}

#dash-prod-card {
    position: absolute;
    border-radius: 0.4rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    max-width: 14rem;
    background: white;

    &:hover {
        cursor: pointer;
        box-shadow: 0 8px 8px rgba(231, 82, 82, 0.25);
        transition: box-shadow 0.5s ease;
    }

    #dash-prod-img {
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        height: 4.5rem;
        max-height: 4.5rem;
        max-width: 5rem;
        object-fit: cover;
    }

    .dash-fav_ic_read {
        font-size: 12px;
        color: Assets.$primary-color;
    }

    #dash-prod-archive-ic {
        font-size: 18px;
    }

    #dash-prod-unarchive-ic {
        font-size: 18px;
        color: Assets.$secondary-color
    }

    #dash-prod-card-date {
        font-size: x-small;
    }
}