@use 'Assets';

#mini-card-root {
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    max-width: 7.6rem;
    position: absolute;

    &:hover {
        cursor: pointer;
    }

    #mini-card-img {
        width: 7.5rem;
        height: 8rem;
        object-fit: cover;
    }

    .mini-c-title {
        font-size: 14px;
        -webkit-line-clamp: 2;
    }

    .mini-c-fav {
        font-size: 12px;
        color: Assets.$primary-color;
    }

    .mini-c-price {
        font-size: 14px;
        color: Assets.$primary-color;
    }

    .mini-c-cart {
        font-size: 16px;
        color: Assets.$primary-color;
    }
}